@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Glassical University</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Glassical University</h2>
        <img src="~/Images/pexels-photo-9828193.jpeg" class="w-100" />

    </div>
    <div class="col-md-4">
        <h2>Now enrolling new students.</h2>
        <p>Enrollment ends December 29th.</p>
        <img src="~/Images/enrollment.jpeg" class="w-100" />
    </div>
    <div class="col-md-4">
        <h2>New Semester Starting</h2>
        <p>Join in on all the fun as a new semester kicks off. We ill be having tours and seminars to get you started on the right track.</p>
        <img src="~/Images/tours.jpeg" class="w-100" />
    </div>

</div>